.to-do-list{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
}
button{
    font-size: 1.7rem;
    font-weight:bold;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    transition:backgronun-color 0.5s ease;
}
.add-button{
    background-color: rgb(50, 247, 50);
}
.add-button:hover{
    background-color: rgb(48, 214, 48);
}
.delete-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    background-color: rgb(238, 48, 48);
    margin-left: auto;
}
.delete-button:hover{
    background-color: rgb(214, 60, 60);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0%)
}
ol{
    padding:0;
}
li{
    width: 27rem;
    font-size : 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 10px auto;   
}
.text{
    flex: 0 1 auto;
}
